*{
  margin:0px;
  padding:0px;
    font-family: system-ui, sans-serif;
  box-sizing: border-box;
}

.todoBox{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  width:auto;
  max-width:550px;
  min-height:80px;
  border:1px solid rgb(98, 98, 98);
  border-radius:4px;
  border-left:5px solid rgb(255, 24, 24);

}

.disc{
  width:60%;
  height:60px;
  font-family: system-ui, sans-serif;
      font-weight:600px;
      font-style:italic;
      padding-top:10px;
 /* border:1px solid blue;*/
}
.toolbox{
  /*border:1px solid green;*/
  width:25%;
  height:60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
}

.img{
  max-width:23px;
  max-height:23px;
 width:20px;
 height:20px;
  transition:50s;

}
.img:active {
  border:50px solid rgba(37, 99, 235);
}

#checkbox{
  width:18px;
  height:18px;
    transition:50s;
}

.toolkit{
  position:absolute;
  background-color:rgb(255, 255, 255);
  color:white;
 font-size:13px;
 width:40px;
 text-align:center;
 border-radius:2px;
}

.t1{
  bottom:0;
  left:0px;
}

.t2{
  bottom:0;
  left:50px;
}

.t3{
  bottom:0;
  right:0;
}
.linecontainer{
  position:relative;
  max-width:550px;
}
.line{
  position:absolute;
  background-color:rgb(72, 72, 72);
  height:2.5px;
  left:0;
  right:0;
  top:40px;
  
  margin:0px 10px;
}
