*{
    margin:0;
    padding:0;
    font-family: system-ui, sans-serif;
    box-sizing:border-box;
}

body{
 background-color: #f9fafb;
  color: #111827;
}

#masterContainer {
    height:100vh;
    width:100vw;
    display:flex;

}
