.sidebar{
    display:flex;
    flex-direction:column;
    row-gap:5px;
    align-items:left;
    min-width:200px;
    font-family: system-ui, sans-serif;
        position:absolute;
        left:0px;
        top:0px;
        bottom:0px;
        padding-left:2px;
        background-color:rgba(236, 236, 236, 0.856);
        transition-duration:0.50s;
        box-shadow: 1px 0 0 rgba(57, 57, 57, 0.5);
        margin-right:3px;
       /* box-shadow: 0 0 0 9999px rgba(87, 87, 87, 0.5);*/
}

.sec1{
    display:flex;
        flex-direction:column;
        align-items: start;
    font-weight:600;
        margin-bottom:10px;
}

.featuresTitle{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:29px;
  width:100%;
}
.featuresTitle img{
 width:20px;
 height:20px;
 background-color: rgb(221, 221, 221);
 border-radius: 2px;
 box-sizing:content-box;
 padding:2px;
}
.featuresTitle img:active{
    border:1px solid black;
}
.featuresTitle span{
    padding-left:4px;
    font-size:14px;
    font-weight:normal;

}


.projectList{
    margin-top:10px;
}
.sidebarContents{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.addFeature{
    display:flex;
    justify-content:left;
    align-items:center;
    font-size:13px;
    margin-left:0px;
    margin-bottom:10px;
    margin-top:15px;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:20px;
   /* width:100px;*/
}
.addFeature:hover{
    background-color:rgba(232, 232, 232, 0.98);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);}
.createProject{
    margin-left:10px;
    display:flex;
    justify-content:left;
    align-items:center;
    font-size:13px;
     padding-top:2px;
    padding-bottom:2px;
    padding-right:20px;
}
.createProject:hover{
    background-color:rgba(232, 232, 232, 0.98);
box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);}
.addicon{
    width:18px;
    height:18px;
    margin-right:8px;
}

.projecticon{
    width:20px;
    height:20px;
     margin-right:8px;
}

ol{
    font-size:15px;
    margin-left:15px;
    font-weight:500;
    padding:5px;
}
li{
    margin-bottom:6px;
    border-radius:2px;
}
li:hover{
    background-color:rgba(232, 232, 232, 0.98);
    box-shadow: 2px 2px 8px rgba(0, 0, 10, 0.3);
}

.cancelToolTip{
    position:absolute;
    top: 31px;
    left: 150px;
    border-radius: 2px;
    width: 90px;
    font-size :13px;
    text-align:center;
    height:20px;
    font-weight:600;
background-color: rgba(0, 0, 0, 0);
    color:rgba(0, 0, 0, 0);
    transition:0.15s;
}

